<% if resource.errors.any? %>
  <div
    id="error_explanation"
    data-turbo-cache="false"
    class="bg-red-50 p-4 text-red-700 text-sm"
  >
    <ul class="list-disc list-inside space-y-1">
      <% resource.errors.full_messages.each do |message| %>
        <p class="text-red-600 font-bold">※<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
