<% content_for(:page_title, "お問い合わせ") %>

<div class="max-w-3xl mx-auto leading-relaxed space-y-6">

<p>
  本サービスに関するご質問・ご要望・不具合のご報告は、<br>
  以下のお問い合わせフォームよりお願いいたします。
</p>

<p>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSefpWh62XsPgj7C30gWxbCvE7mBFRlYzqiF3NgMZYAgI29TgQ/viewform?usp=publish-editor" target="_blank" rel="noopener">
    お問い合わせフォームはこちら
  </a>
</p>

</div>