@import "tailwindcss";

/* ===== font-face ===== */
@font-face {
  font-family: 'HuiFont';
  src: url('HuiFont29.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ===== theme ===== */
@theme {
  --color-forest-green: #707C57;
  --color-sage: #B3B792;
  --color-wood-dark: #725C3A;
  --color-accent-orange: #DA983C;
  --color-wood-light: #C39F78;
  --color-cream: #E5D2B8;
  --color-light-cream: #F4ECE0;
  --color-earth-brown: #90533B;

  --font-logo: "HuiFont", cursive;
  --font-heading: "Zen Maru Gothic", "Noto Sans JP", sans-serif;
  --font-body: "Yu Gothic", "游ゴシック体", "YuGothic",
               "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;
}

/* ===== components ===== */
@layer components {
  .btn {
    @apply inline-flex items-center justify-center
           rounded-lg px-6 py-2 text-sm font-medium
           transition focus:outline-none font-heading;
  }

  .btn-primary {
    @apply bg-accent-orange text-white hover:bg-earth-brown;
  }

  .btn-secondary {
    @apply bg-forest-green text-white hover:bg-sage hover:text-wood-dark;
  }

  .btn-danger { 
    @apply bg-earth-brown text-white hover:bg-red-900;
  }

  /* 説明用 */
.text-description {
    color: var(--color-wood-light);
    font-size: 0.875rem; /* text-sm */
    line-height: 1.7;
    font-weight: 500;
  }
  
  /* ===== ノートカード ===== */
  .card-notebook {
    background-image: url("grid.png");
    background-repeat: repeat;
    background-size: 32px 32px;
    border-radius: 1rem;
    text-align: left;
    line-height: 1.8;
  }

}

/* ===== utilities ===== */

/* ロゴ用 */
.font-fui {
  font-family: var(--font-logo);
}

/* 見出し用 */
.font-heading {
  font-family: var(--font-heading);
  font-weight: 700;
  
}

h1,h2,h3,h4 {
  @apply font-heading;
}


/* ===== body ===== */
body {
  font-family: var(--font-body);
  color: var(--color-wood-dark);
  font-weight: 500;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

/* ===== 背景 ===== */
.bg-app {
  background-color: var(--color-light-cream);
}

/* ===== ローディング ===== */
.global-loading {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.loading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #4b7f52; /* 好きな色にしてOK */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


